body {
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  width: 50%;
  height: 15%;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
  background-color: purple;
  color: white;
  font-size: 26px;
  cursor: pointer;
}
